@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');



body{
    margin:0;
    padding: 0;
    background-color: #D5E1EF;
    font-family: Outfit;
    text-align: center;

}

#container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    
}
#card{
    width: 320px;
    border-radius: 20px;
    background-color: #FFFFFF;
    align-self: center;

}
#qrCode{
    width: 288px;
    height: 288px;
    margin: 16px;
    border-radius: 10px;
}

#title{
    margin:0 15px;
    font-weight: 800;
    font-size: 20px;
    color: #1F314F;
    padding: 0 15px;
}
#text{
    margin:15px 15px 40px 15px;
    font-size: 15px;
    font-weight: 400;
    color: #68778D;
    padding: 0 15px;
}

.attribution { font-size: 11px; text-align: center; margin: 16px auto }
.attribution a { color: hsl(228, 45%, 44%); }